<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetCoreElipticCurveX509XmlEncryptor" version="1.0.3" targetFramework="net472" />
  <package id="CrossPlatformEncryptedArray" version="1.0.4" targetFramework="net472" />
  <package id="CrossPlatformMemoryPinning" version="1.0.2" targetFramework="net472" />
  <package id="CrossPlatformProtectedData" version="1.0.3" targetFramework="net472" />
  <package id="ElipticCurveX509Certificates" version="1.0.6" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="5.0.4" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.DataProtection" version="5.0.4" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="5.0.4" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.DataProtection.Extensions" version="5.0.4" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="SecureArrays" version="1.0.41" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Cng" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>